



/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


.focus-in-contract-bck {
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
            animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@media screen and (min-width:651px){

/*  General CSS*/
body{
    background: #fff;
    max-width: 1440px;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}







/*    Billboard    */
.billboard{
    width: 100%;
    height: 650px;
    position: relative;
}

.billboard.light{
    background: url('../img/billboard.jpg') no-repeat;   
     
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.billboard.dark{
    background: url('../img/billboard2.jpg') no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.billboard .shadow{
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('../img/shadow.png') repeat-x;
}

.billboard .caption{
    margin-top: 130px;
    text-align: center;
}

.billboard .caption.light{
    color: #fff;
}

.billboard .caption.dark{
    color: #5d5d5d;
}

.billboard .caption h1{
    font-family: "raleway-bold";
    font-size: 50px;
    font-weight: bold; 
    margin-bottom: 30px;
}

.billboard .caption.light h1{
    color: #fff;
}

.billboard .caption.dark h1{
    color: #5d5d5d;
}

.billboard .caption p{
    font-family: "raleway-regular";
    font-size: 18px;
    margin-bottom: 30px;
}

.billboard .caption.light p{
    color: #fff;
}

.billboard .caption.dark p{
    color: #5d5d5d;
}

.billboard .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
}

.billboard .caption.light hr{
    background: #fff;
}

.billboard .caption.dark hr{
    background: #5d5d5d;
}






/*    header    */
header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    margin-left: -15%;
    width:12%;
    
}

header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "raleway-regular";
    font-size: 14px;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
    color: #fff;
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}

header.dark nav ul li a{  
    color: #5d5d5d;
}

header.dark nav ul li a:hover{
    color: #919191;
}


.overview {

    display: block;
    width: 100%;

    text-align: center;
    background-color: #fff; 

    
}

.overview h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    padding-top: 3%;
   
}

.overview  p{

    color: #838181;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px; 
    letter-spacing: .5px;
    width: 60%;
    margin-left: 20%;
}





/*    Services    */

.intro {
  
    width: 100%;
    display: block;
  
}

.intro ul li{
    list-style: none;
    display: block;
    width: 21%;
    float: left;
    margin-right:2%;
    text-align: center;
}

.intro ul li:first-child{
    margin-left: 17%;
}


.intro ul li h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 22px;
    font-weight: bold;
    margin-top: 10%;
}

.intro ul li p{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 16px;
    line-height: 28px; 
    margin-top: 10%;
    letter-spacing: .5px;

}


.demo1 {

    display: block;
    width: 100%;
 
    text-align: center;
    margin-top: 6%;
    background-color: #f2f3f7;    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  

}

#mac {
 
    margin-top: 3.5%; 

}


.challenge {

    display: block;
    width: 100%;
    background-color: #ffffff;    

}



.challenge h2{

    margin-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.challenge p{

    color: #838181;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px; 
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
    letter-spacing: .5px;

}

.challenge img {


    display: block;
    width: 150px;
    height: 200px;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
    

}

.challenge ul li{
    list-style: none;
    display: block;
    width: 21%;
    float: left;
    margin-right:5%;
    text-align: center;
}

.challenge ul li:first-child{
    margin-left: 16.5%;
}



.challenge span {

    color: #838181;
    width:300px;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px; 
    margin-top: 20%;
    margin-left: -16%; 
    margin-bottom: 5%; 
    float: left;


}


.table {

    margin-top: 3%;
    display: block;
    width: 100%;
    background-color: #f2f3f7;    

}


.table h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1%;

}

.table p {

  
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    line-height: 28px; 
   
}

.table img {

    width: 65%;
    height: 65%;
    margin-top:2.5%;
    margin-left: 18%;

}



.value {

    display: block;
    width: 100%;
    background-color: #ffffff;  

}

.value h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1%;
}

.value span {

    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    text-align: left;
    margin-left: 20%;
    width: 60%;


}

.value img {

    display: block;
    width: 150px;
    height: 200px;
    margin-top: 7%;
    margin-left: 5%;
}


.value ul li{
    list-style: none;
    display: block;
    width: 21%;
    float: left;
    margin-right:5%;
    text-align: center;
}

.value ul li:first-child{
    margin-left: 16.5%;
}

.value p {

    color: #616161;
    width: 85%;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px;
    text-align: center;  
    float: left;
    margin-top: 3%;

}


.solution {

    display: block;
    width: 100%;
    background-color: #f2f3f7; 

}

.solution h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;


}

.solution #q {
    
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    font-weight: bold;
    margin-top: 3%;
    text-align: center;

}

.solution #s1 {


    width: 60%;
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-top: 3%;
    margin-left: 20%;

}

.solution #s2 {

    width: 60%;
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-left: 20%;


}


.solution iframe {

    margin-left: 20%;

}
   
.evaluation {


    display: block;
    width: 100%;
    background-color: #ffffff;  

}

.evaluation h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;


}
    
.evaluation span {

    display: inline-block;
    width: 80%;
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    margin-left: 10%;

}



.afterword {

    display: block;
    width: 100%;
    background-color: rgb(248,248,249);

}


.afterword h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;



}

.afterword h3 {

    color: #616161;
    font-family: "raleway-regular";
    font-size: 20px;
    font-style: italic;
    text-align: center;


}


.afterword span {

    display: inline-block;
    width: 80%;
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    margin-left: 10%;

}

.afterword img {


    margin-top: 3%;
    width: 50%;  
    margin-left:23%;
}



/*    footer    */
footer{
    display: block;
    padding: 35px 0;
    overflow: hidden;
    
}

footer .footer_logo{
    float: left;

}

footer .rights p{
   
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: auto; 
    text-align: right;
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
}








 




@media screen and (max-width:650px){


body{
    background: #fff;
}

.wrapper{
    width: 375px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}



.hide {

    display: none;

}



/*    Billboard    */
.billboard{
    width: 100%;
    height: 300px;
    position: relative;
}

.billboard.light{
    background: url('../img/billboard.jpg') no-repeat;   
     
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.billboard.dark{
    background: url('../img/billboard2.jpg') no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.billboard .shadow{
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('../img/shadow.png') repeat-x;
}

.billboard .caption{
    margin-top: -40px;
    text-align: center;
}

.billboard .caption.light{
    color: #fff;
}

.billboard .caption.dark{
    color: #5d5d5d;
}

.billboard .caption h1{
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold; 
    margin-bottom: 30px;
}

.billboard .caption.light h1{
    color: #fff;
}

.billboard .caption.dark h1{
    color: #5d5d5d;
}

.billboard .caption p{
    font-family: "raleway-regular";
    font-size: 18px;
    margin-bottom: 30px;
}

.billboard .caption.light p{
    color: #fff;
}

.billboard .caption.dark p{
    color: #5d5d5d;
}

.billboard .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
}

.billboard .caption.light hr{
    background: #fff;
}

.billboard .caption.dark hr{
    background: #5d5d5d;
}






/*    header    */
header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    width: 25%;
    margin-left: -15px;
    margin-bottom: 5%;
    
    
}

header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "raleway-regular";
    font-size: 14px;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
    color: #fff;
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}

header.dark nav ul li a{  
    color: #5d5d5d;
}

header.dark nav ul li a:hover{
    color: #919191;
}


.overview {

    display: block;
    width: 100%;
    text-align: center;
    background-color: #fff; 

    
}

.overview h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 20px;
    font-weight: bold;
    padding-top: 3%;
   
}

.overview  p{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 14px;
    line-height: 28px; 
    letter-spacing: .5px;
}





/*    Services    */

.intro {
  
    width: 100%;
  
}

.intro ul li{
    list-style: none;
    display: block;
    width: 21%;
    float: left;
    margin-right:5%;
    text-align: center;
}

.intro ul li:first-child{
    margin-left: 13%;
}



.intro ul li h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 18px;
    font-weight: bold;
    margin-top: 3%;
}

.intro ul li p{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 14px;
    line-height: 28px; 
    margin-top: 10%;
    letter-spacing: .5px;

}


.demo1 {

    display: block;
    width: 100%;
    text-align: center;
    margin-top: 6%;
    background-color: #f2f3f7;    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  

}

#mac {
 
    margin-top: 3.5%; 

}


..challenge {

    display: block;
    width: 100%;
    background-color: #ffffff;    

}



.challenge h2{

    margin-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.challenge p{

    color: #838181;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px; 
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
    letter-spacing: .5px;

}

.challenge img {


    display: block;
    width: 150px;
    height: 200px;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
    

}

.challenge ul li{
    list-style: none;
    display: block;
    width: 21%;
    float: left;
    margin-right:5%;
    text-align: center;
}

.challenge ul li:first-child{
    margin-left: 16.5%;
}



.challenge span {

    color: #838181;
    width:300px;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px; 
    margin-top: 20%;
    margin-left: -16%; 
    margin-bottom: 5%; 
    float: left;


}


.table {

    margin-top: 3%;
    display: block;
    width: 100%;
    background-color: #f2f3f7;    

}


.table h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1%;

}

.table p {

  
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    line-height: 28px; 
   
}

.table img {

    width: 65%;
    height: 65%;
    margin-top:2.5%;
    margin-left: 18%;

}



.value {

    display: block;
    width: 100%;
    background-color: #ffffff;  

}

.value h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1%;
}

.value span {

    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    text-align: left;
    margin-left: 20%;
    width: 60%;


}

.value img {

    display: block;
    width: 150px;
    height: 200px;
    margin-top: 7%;
    margin-left: 5%;
}


.value ul li{
    list-style: none;
    display: block;
    width: 21%;
    float: left;
    margin-right:5%;
    text-align: center;
}

.value ul li:first-child{
    margin-left: 16.5%;
}

.value p {

    color: #616161;
    width: 85%;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px;
    text-align: center;  
    float: left;
    margin-top: 3%;

}


.solution {

    display: block;
    width: 100%;
    background-color: #f2f3f7; 

}

.solution h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;


}

.solution #q {
    
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    font-weight: bold;
    margin-top: 3%;
    text-align: center;

}

.solution #s1 {


    width: 60%;
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-top: 3%;
    margin-left: 20%;

}

.solution #s2 {

    width: 60%;
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-left: 20%;


}


.solution iframe {

    margin-left: 20%;

}
   
.evaluation {


    display: block;
    width: 100%;
    background-color: #ffffff;  

}

.evaluation h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;


}
    
.evaluation span {

    display: inline-block;
    width: 80%;
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    margin-left: 10%;

}



.afterword {

    display: block;
    width: 100%;
    background-color: rgb(248,248,249);

}


.afterword h2 {

    padding-top: 3%;
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    text-align: center;



}

.afterword h3 {

    color: #616161;
    font-family: "raleway-regular";
    font-size: 20px;
    font-style: italic;
    text-align: center;


}


.afterword span {

    display: inline-block;
    width: 80%;
    color: #616161;
    font-family: "raleway-regular";
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    margin-left: 10%;

}

.afterword img {


    margin-top: 3%;
    width: 50%;  
    margin-left:23%;
}


/*    footer    */
footer{
    display: block;
    padding: 35px 0;
    overflow: hidden;
    
}

footer .footer_logo{
    float: left;

}

footer .rights p{
   
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: auto; 
    text-align: right;
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}



}

